{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid padding">
<div class="row padding">
<div class="col-md-12">
    <p>
        Total Number of Players: <strong>{{player_count}}</strong><br>
    </p>


    <form id="searchform" action="{% url 'iplapp:player_list'%}" method="get" accept-charset="utf-8">
      <button class="searchbutton" type="submit">
        <i class="fa fa-search"></i>
      </button>
      <input class="searchfield" id="searchbox" name="playername" type="text" placeholder="Search">
        <b> (Search by player name)</b> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        <a href="{% url 'iplapp:player_list' %}"  class="btn btn-primary">Clear Search</a>
    </form>

    <br/>
    <br/>

    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Full Name</th>
                    <th>Team</th>
                    <th>Squad Position</th>
                </tr>
            </thead>
            <tbody>
                {% for player in player_list %}
                <tr>
                    <td>
                        <a class="fa-icons" href="{% url 'iplapp:player_detail' pk=player.pk %}">
                            <i class="fa fa-eye"></i>
                        </a>

                    </td>
                    <td>
                        {{ player.first_name}}&nbsp{{player.last_name}}
                    </td>
                    <td>{{ player.team }}</td>
                    <td>{{ player.squad_position }}</td>
                </tr>
                {% endfor %}
            </tbody>
      </table>
    </div>
</div>
</div>
</div>
{% endblock%}